= form_with model: @task, url: project_tasks_path,local: true do |form|
  = form.label :title
  = form.text_field :title
  %br
  = form.label :descritption
  = form.text_area :descritption
  %br
  = form.label :start_on
  = form.date_field :start_on
  %br
  = form.label :end_on
  = form.date_field :end_on
  %br
  %br
  = form.submit "Submit"