<ul>
  <li>
    <%= f.label :task_name, "タスク名" %>
    <div>
      <%= f.text_field :task_name, placeholder: "資料の作成", required: true %>
    </div>
  </li>

  <li>
    <%= f.label :description, "詳細" %>
    <div>
      <%= f.text_field :description, placeholder: "expert-todo（株）向けの営業資料の作成" %>
    </div>
  </li>

  <li>
    <%= f.label :due_date, "期限日" %>
    <div>
      <%= f.date_field :due_date %>
    </div>
  </li>

  <li>
    <%= f.submit "登録" %>
  </li>
</ul>