<h1>All Tasks</h1>
<h2><%= link_to "新規作成", new_task_path %></h2>
<table>
  <thead>
  <tr>
    <th>#</th>
    <th>タスク名</th>
    <th>詳細</th>
    <th>期限日</th>
    <th>作成日時</th>
    <th>更新日時</th>
    <th>削除</th>
  </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to "編集", edit_task_path(task.id) %></td>
        <td><%= task.task_name %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date_without_time %></td>
        <td><%= task.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= task.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= link_to "削除", task_path(task.id), method: "DELETE" %></td>
      </tr>
  <% end %>
  </tbody>
</table>


