<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>名前</th>
<!--       <th>パスワード</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
<!--         <td><%# user.password %></td> -->
        <td><%= link_to '表示', user %></td>
        <td><%= link_to '編集', edit_user_path(user) %></td>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New User', new_user_path %>
