<!DOCTYPE html>
<html>
  <head>
    <title>ExpertTodo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      ExpertTodo&nbsp;&nbsp;
      <% if @current_user.present? %>
        <%= @current_user.name %>&nbsp;&nbsp;
        <%= link_to "ログアウト", login_index_path, method: :delete %>
      <% end %>
      <p id="notice"><%= notice %></p>
    </div>
    <div id="content">
    <%= yield %>
    </div>
  </body>
</html>
